{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 4 Chrome versions"]
      }
    }],
    "react"
  ],

  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 4 Chrome versions"]
          }
        }],
        "react"
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },

  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "src":        "./src",
        "test":       "./test"
      }
    }],
    "lodash",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}
