{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 4 Chrome versions"]
      }
    }],
    "react"
  ],

  "plugins": [
    ["module-resolver", {
      "alias": {
        "src":        "./src",
        "components": "./src/components"
      }
    }],
    "lodash",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}
